* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}
html, body {
  @include pxRem(font-size, map-get($font-size, normal));
  font-family: $font-body;
  position: relative;
  font-weight: map-get($font-weight, light);
  color: map-get($color, "black");
  line-height: 1.5;
  background-color: map-get($color, "white");
  overscroll-behavior: contain;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

image {
  display: block;
  max-width: 100%;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  @include pxRem(margin-bottom, 10);
  font-weight: bold;
  color: map-get($color, heading);
  line-height: 1.2;
}
h1, .h1 {
  @include pxRem(font-size, 40);
}
h2, .h2 {
  @include pxRem(font-size, 32);
}
h3, .h3 {
  @include pxRem(font-size, 28);
}
h4, .h4 {
  @include pxRem(font-size, 24);
}
h5, .h5 {
  @include pxRem(font-size, 20);
}
h6 .h6{
  @include pxRem(font-size, 16);
}

strong {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}
