@keyframes checkbox-wave {
  50% {
    transform: scale(0.9);
  }
}
@keyframes loader {
  100% {transform: rotate(1turn)}
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fade-in-scale-centered {
  from {
    transform-origin: center;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.95);
  }
  to {
    transform-origin: center;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
