.badge {
  @include pxRem(border-radius, 50);
  @include pxRem(padding, 2 10);
  @include pxRem(font-size, map-get($font-size, xs));
  background-color: map-get($color, "grey");
  color: map-get($color, "white");
  font-weight: map-get($font-weight, medium);
  text-transform: capitalize;
  &-tertiary {
    background-color: map-get($color, bg-tertiary);
    color: map-get($color, tertiary);
  }
  &-warning {
    background-color: map-get($color, bg-warning);
    color: map-get($color, warning);
  }
  &-danger {
    background-color: map-get($color, bg-danger);
    color: map-get($color, danger);
  }
}
