.btn {
  @include pxRem(padding, 12 20);
  @include pxRem(border-radius, 5);
  @include pxRem(font-size, map-get($font-size, normal));
  @extend %flex-centered;
  background-color: map-get($color, "white");
  font-weight: map-get($font-weight, medium);
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  .btn-icon {
    @include pxRem(margin-right, 10);
    @extend %flex-centered;
  }
  .loader {
    @include pxRem(border-width, 2);
    &::before,
    &::after {
      inset: -2px;
    }
  }
  &:disabled,
  &.disabled {
    cursor: default;
    opacity: 0.65;
  }
  &.btn-outline {
    border-color: map-get($color, border);
  }
  &.btn-circle {
    @include pxRem(padding, 12);
    border-radius: 50%;
  }
  &.btn-primary {
    color: map-get($color, "white");
    background-color: map-get($color, "blue");
    border-color: map-get($color, "blue");
    .loader {
      border-right-color: rgba($color: map-get($color, "white"), $alpha: 0.59);
    }
  }
  &.btn-danger {
    color: map-get($color, danger);
    background-color: map-get($color, bg-danger);
    border-color: map-get($color, border-danger);
  }
  &.btn-warning {
    color: map-get($color, warning);
    background-color: map-get($color, bg-warning);
    border-color: map-get($color, border-warning);
  }
  &.btn-info {
    color: map-get($color, info);
    background-color: map-get($color, bg-info);
    border-color: map-get($color, border-info);
  }
  &.btn-outline {
    background-color: map-get($color, "white");
    &-info {
      color: map-get($color, info);
      border-color: map-get($color, border-info);
      .loader {
        border-right-color: rgba($color: map-get($color, info), $alpha: 0.59);
      }
    }
    &-warning {
      color: map-get($color, warning);
      border-color: map-get($color, border-warning);
      .loader {
        border-right-color: rgba($color: map-get($color, warning), $alpha: 0.59);
      }
    }
    &-danger {
      color: map-get($color, danger);
      border-color: map-get($color, border-danger);
      .loader {
        border-right-color: rgba($color: map-get($color, danger), $alpha: 0.59);
      }
    }
  }
}
