.btn {
  @include pxRem(padding, 12 20);
  @include pxRem(border-radius, 5);
  @include pxRem(font-size, map-get($font-size, normal));
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: map-get($color, "white");
  font-weight: map-get($font-weight, medium);
  border: 1px solid transparent;
  cursor: pointer;
  .btn-icon {
    @include pxRem(margin-right, 10);
  }
  .loader {
    @include pxRem(border-width, 2);
    &::before,
    &::after {
      inset: -2px;
    }
  }
  &:disabled,
  &.disabled {
    cursor: default;
    opacity: 0.65;
  }
  &.btn-outline {
    border-color: map-get($color, border);
  }
  &.btn-primary {
    color: map-get($color, "white");
    background-color: map-get($color, "blue");
    border-color: map-get($color, "blue");
    .loader {
      border-right-color: rgba($color: map-get($color, "white"), $alpha: 0.59);
    }
  }
}
