.dialog-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba($color: map-get($color, "black"), $alpha: 0.25);
  overflow: hidden;
  z-index: 3;
  .dialog {
    @include pxRem(padding, 10 40);
    @include pxRem(border-radius, 5);
    position: absolute;
    top: 50%;
    left: 50%;
    animation: fade-in-scale-centered 0.3s ease-in-out;
    transform: translate(-50%, -50%);
    width: 60%;
    display: inline-flex;
    flex-direction: column;
    background-color: map-get($color, "white");
    box-shadow: 0 25px 50px -12px rgba($color: map-get($color, "black"), $alpha: 0.25);
  }
  .dialog-header {
    @include pxRem(padding, 10 0);
    @include pxRem(margin-bottom, 30);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid map-get($color, border);
    .dialog-title {
      @include pxRem(font-size, map-get($font-size, lg));
      margin: 0;
    }
    .btn-close {
      @include pxRem(font-size, 22);
      @include pxRem(padding, 8);
      background-color: map-get($color, grey-1);
    }
  }
  .dialog-body {
    @include pxRem(margin-bottom, 20);
    @include pxRem(padding-bottom, 30);
    border-bottom: 1px solid map-get($color, border);
  }
  .dialog-footer {
    @include pxRem(padding, 10 0);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .btn {
      @include pxRem(min-width, 98);
    }
  }
}
