.dropdown-container {
  position: relative;
}
.dropdown-menu {
  @include pxRem(padding, 5 0);
  @include pxRem(border-radius, 5);
  @include pxRem(min-width, 150);
  position: absolute;
  transform: scale(.8);
  background: map-get($color, "white");
  box-shadow: rgba(0, 0, 0, .2) 0 1px 5px;
  border: 1px solid map-get($color, border);
  top: 100%;
  left: 0;
  transition: all .1s ease-in-out;
  &.showed {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
  }
  .dropdown-item {
    @include pxRem(padding, 10 20);
    display: flex;
    align-items: center;
    background-color: map-get($color, "white");
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: map-get($color, bg-hover);
    }
    .pre-icon {
      @include pxRem(margin-right, 10);
      display: flex;
      align-items: center;
    }
  }
}
