.tabs-wrapper {
  display: flex;
  flex-direction: column;
  .tab-list {
    @include pxRem(margin-bottom, 30);
    display: flex;
    justify-content: center;
    position: relative;
    .active-bar {
      @include pxRem(height, 3);
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      background: map-get($color, "blue");
      transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
    }
  }
  .tab-item {
    @extend %flex-centered;
    @include pxRem(padding, 0 10);
    @include pxRem(min-width, 150);
    @include pxRem(height, 40);
    cursor: pointer;
    text-transform: capitalize;
    font-weight: map-get($font-weight, medium);
    transition: all 0.3s ease-in-out;
    &.active {
      color: map-get($color, "blue");
    }
  }
}
