.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  .page-title {
    @include pxRem(font-size, 28);
  }
  .page-subtitle {
    @include pxRem(font-size, map-get($font-size, sm));
    @include pxRem(margin-bottom, 40);
    color: map-get($color, "grey");
    font-weight: map-get($font-weight, light);
  }
  .card {
    @include pxRem(padding, 80);
  }
}
