.todo-list {
  width: 50%;
  .todo-item {
    @include pxRem(margin-bottom, 20);
    &:last-child {
      margin-bottom: 0;
    }
    .card {
      @include pxRem(padding, 25);
    }
    .todo-title {
      font-weight: map-get($font-weight, regular);
    }
    .todo-due-date {
      @include pxRem(font-size, map-get($font-size, xs));
      @include pxRem(margin-left, 33);
      color: map-get($color, "grey");
    }
  }
}
